:root {
  --color-background: #f2f2f2;
  --color-primary: #413c58;
  --color-secondary: #a3c4bc;
  --color-secondary-dark: #62998b;
  --color-tertiary: #e9f7ca;
  --color-tertiary-dark: #568045;
  --color-quaternary: #cadc80;
  --color-quaternary-dark: #93aa2f;
  --color-quinary: #e7c25c;
  --color-quinary-dark: #e2b539;
  --color-white: #fff;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-primary);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-wdth: 700px) {
  :root {
    font-size: 62.5%;
  }
}
